@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html{
  box-sizing: border-box;
  font-size: 100%;
}

:root{
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  margin: 0;
  font-size: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--pale-blue);
  background-image: url('../assets/images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  min-block-size: 100vb;
  max-inline-size: 1440px;
  display: grid;
  place-items: center;
}

img{
  max-inline-size: 100%;
  block-size: auto;
}

h1, h2, p{
  margin: 0;
}

.order{
  display: grid;
  max-inline-size: 19.6rem;
  background-color: var(--white);
  border-radius: .9rem;
  overflow: hidden;
  box-shadow: 0 5px 30px var(--desaturated-blue);
}

.order__body{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  padding-block: 2.5rem;
}

.order__primary{
  text-align: center;
  padding-inline: 2rem;
}

.order__primary__title{
  font-size: 1.4rem;
  color: var(--dark-blue);
  font-weight: 900;
  margin-block-end: 1.1rem;
}

.order__primary__copy{
  color: var(--desaturated-blue);
}

.order__plan{
  background-color: var(--very-pale-blue);
  border-radius: .8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-inline: .8rem;
  padding-block: 1rem;
}

.order__plan__anual__title{
  font-size: .9rem;
  color: var(--dark-blue);
}

.order__plan__anual__price,
.order__plan__anual__change{
  font-size: .8rem;
}

.order__plan__anual__price{
  color: var(--desaturated-blue);
}

.order__plan__anual__change{
  color: var(--bright-blue);
  font-weight: 700;
}

.order__plan__anual__change:hover{
  cursor: pointer;
  text-decoration: none;
  opacity: .8;
}

.order__plan__anual__btn{
  border: none;
  background-color: var(--bright-blue);
  border-radius: .8rem;
  padding-block: .8rem;
  padding-inline: 3.7rem;
  font-size: .9rem;
  font-family: inherit;
  font-weight: 700;
  color: var(--white);
  box-shadow: 0 5px 20px var(--desaturated-blue);
  cursor: pointer;
}

.order__plan__anual__btn:active{
  opacity: .8;
}

.order__plan__anual__cancel{
  font-weight: 700;
  font-size: .9rem;
  color: var(--desaturated-blue);
}

.order__plan__anual__cancel:hover{
  cursor: pointer;
  color: var(--dark-blue);
}

@media (min-width: 37.5em){
  body{
    background-image: url('../assets/images/pattern-background-desktop.svg');
  }

  .order{
    max-inline-size: 25.5rem;
  }

  .order__primary__copy{
    line-height: 1.5;
  }

  .order__plan{
    padding-inline: 3rem;
    padding-block: 1.2rem;
  }

  .order__plan__anual__btn{
    padding-inline: 5.7rem;
  }
}
